<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="autoload.php">
    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Assegai Test Suite">
            <directory>./src/assegai/components/*/*/tests/</directory>
            <directory>./src/assegai/modules/*/*/tests/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>benchmark</group>
            <group>intl-data</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory>./src/assegai/</directory>
            <exclude>
                <directory>./src/assegai/components/*/*/tests/</directory>
                <directory>./src/assegai/modules/*/*/tests/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>